section {
    width: 80%;
    height: 800px;
    background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    /* 0-TopButtom auto-LeftRight */
    margin: 0 auto;
    background-position: left;
    border: 5px black solid;
    border-radius: 1%;
    transition: 2s;
}

h1 {
    font-size: 100px;
    color: whitesmoke;
}

section:hover {
    border-radius: 50%;
}

body {
    font-family: 'Montserrat', sans-serif;
}